[id*="contacts"] {
  .home-section-2 {
    margin-top: 0;
  }

  .home-section-13 {
    margin-bottom: var(--offset-120);
  }

  .home-section-13 .decor-img {
    @include to(680px) {
      z-index: 1;
    }
  }
}
