footer.footer
  img(src='./assets/images/footer/svg.svg').decor
  .btn-up__wrapper
    .text-16-gold вгору
    .btn-up.swiper-btn
      +svg('arrow-up')
  .footer__top
    ul.footer__nav
      li
        a(href="index.html" data-text="ГОЛОВНА").cubic-hover.title-60
          span ГОЛОВНА
      li
        a(href="3d.html" data-text="ГЕНПЛАН").cubic-hover.title-60
          span ГЕНПЛАН
      li
        a(href="cottages.html" data-text="КОТЕДЖІ").cubic-hover.title-60
          span КОТЕДЖІ
      li
        a(href="construction.html" data-text="ХІД БУДІВНИЦТВА").cubic-hover.title-60
          span ХІД БУДІВНИЦТВА
      li
        a(href="turnkey-solution.html" data-text="РІШЕННЯ ПІД КЛЮЧ").cubic-hover.title-60
          span РІШЕННЯ ПІД КЛЮЧ
      li
        a(href="technologies.html" data-text="ТЕХНОЛОГІЇ").cubic-hover.title-60
          span ТЕХНОЛОГІЇ
      li
        a(href="developer.html" data-text="ДЕВЕЛОПЕР").cubic-hover.title-60
          span ДЕВЕЛОПЕР
      li
        a(href="contacts.html" data-text="КОНТАКТИ").cubic-hover.title-60
          span КОНТАКТИ

    .footer__info
      .footer__info-item
        .footer__info-item__title
          p.text-16-gold Телефон:
          span
        a(href="tel:+380985707070").text-24-grey.link-hover
          span +38 (098) 570-70-70
        .btn-style(data-call-form).btn-hover
          span Передзвоніть мені
          +svg('arrow')
      .footer__info-item
        .footer__info-item__title
          p.text-16-gold Пошта:
          span
        a(href="mailto:info@dfd.house").text-24-grey.link-hover
          span info@dfd.house
      .footer__info-item
        .footer__info-item__title
          p.text-16-gold Локація:
          span
        a(href="#").text-24-grey.link-hover
          span лівий берег Києва, село Гнідин
      .footer__info-item
        .footer__info-item__title
          p.text-16-gold Соцмережі::
          span
        .footer__info-item__row
          a(href="#").text-24-grey.link-hover
            span telegram
          a(href="#").text-24-grey.link-hover
            span viber
          a(href="#").text-24-grey.link-hover
            span facebook

  .footer__bottom
    p.text-16-grey © 2023 Усі права захищено. Золочів Ліс.
    a(href="#" target="_blank").smarto-logo
      img(src='./assets/images/footer/smarto.svg')



