.form-thanks-wrapper(data-thanks).popup-style
  .form-thanks
    .form-thanks-close(data-close-thanks).close-btn
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="#333740" stroke-width="2"/>
      </svg>
    img(src='./assets/images/form/form-decor-1.svg' alt='img').decor-1
    img(src='./assets/images/form/form-decor-2.svg' alt='img').decor-2
    .form-thanks__info
      h5.title-60 Заявка прийнята.
      p.text-24-gold Дякуємо за звернення!
      p.text-16-grey Очікуйте на дзвінок з відділу продажів PARKLAND. Бажаємо гарного дня =)
      .btn-style
        span Закрити
        +svg('arrow')


