.tablet {
  .header {
    .js-mobile-call {
      display: flex;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-h-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0 var(--field);
  transition: height .3s .3s ease-in-out, background .3s ease-in-out, margin .3s .3s ease-in-out;
  z-index: 100;
  margin-top: 30px;

  @include to(1600px) {
    margin-top: 20px;
  }

  @include to(1024px) {
    margin-top: 0;
    background: rgba(23, 24, 27, 0.60);
  }

  @include to(680px) {
    justify-content: flex-start;
  }

  &.not-top {
    margin-top: 0px;
    height: var(--header-h-2);
    background: rgba(23, 24, 27, 0.60);
    transition: height .5s ease-in-out, background .5s .5s ease-in-out, margin .5s ease-in-out;
  }

  &__logo {
    width: auto;
    height: calc(100% - 20px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include to(1600px) {
      height: calc(100% - 10px);
    }

    @include to(1024px) {
      position: static;
      transform: none;
      left: 0;
    }

    @include to(680px) {
      height: var(--btn-h);
      order: 1;
      margin-right: auto;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  .form-call {
    margin-right: var(--header-offset);

    @include to(1024px) {
      margin-left: auto;
    }

    @include to(680px) {
      width: var(--btn-h);
      padding: 0;
      order: 3;
      margin-left: 0;

      svg {
        margin-left: 0;
      }

      .svg {
        display: none;
      }
    }
  }

  .lang {
    margin-right: auto;

    @include to(1024px) {
      margin-right: var(--header-offset);
    }

    @include to(680px) {
      order: 2;
    }
  }

  .btn-3d {
    margin-right: var(--header-offset);

    @include to(680px) {
      width: var(--btn-h);
      padding: 0;
      order: 4;

      svg {
        margin-left: 0;
      }

      .svg {
        display: none;
      }
    }
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include to(680px) {
      order: 5;
    }

    & > span {
      color: var(--gold-primary);
      text-align: center;
      font-family: $default-font-2;
      font-size: var(--font-14);
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      text-transform: uppercase;
      margin-right: var(--padding-12);

      @include to(680px) {
        display: none;
      }
    }

    &__icon {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3px;
      align-content: center;
      justify-items: flex-start;

      &__wrapper {
        background: var(--gold-primary);
        border-radius: 6px;
        height: var(--btn-h);
        width: var(--btn-h);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        height: 2px;
        width: 20px;
        background: var(--dark-blue);

        &:first-child {
          width: 10px;
        }
      }
    }
  }
}

